.InputWrapper {
  display: flex;
}

.placeholder {
  margin-right: 5px;
  text-wrap: nowrap;
}

.readonly {
  opacity: 0.7;
}

.input {
  background: none;
  outline: none;
  color: var(--primary-color);
  padding: 2px;
  border: 1px solid var(--primary-color);
}

.fullWidth {
  width: 100%;
}
