.app_dark_theme {
  --bg-color: #040449;
  --inverted-bg-color: #f5f5f5;
  --primary-color: #25a825;
  --secondary-color: #04ff04;
  --inverted-primary-color: #00507e;
  --inverted-secondary-color: #049bff;
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;
}
