.app.light {
  --bg-color: #f5f5f5;
  --inverted-bg-color: #040449;

  --primary-color: #00507e;
  --secondary-color: #049bff;
  --inverted-primary-color: #25a825;
  --inverted-secondary-color: #04ff04;
}
